.pokemon{
    margin-top: 2rem;
    flex-basis: 20%;
    display: flex;
    height: 200px;
    width:200px;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
.pokemon-image{
    height: 150px;
    width:200px;
    
}
.pokemon-name{
    margin:2px;
    margin-bottom: auto;
    text-align: center;
    font-size: large;
    letter-spacing: 0.5rem;
    
}
.pokemon:hover{
    background-color: antiquewhite;
}
.link{
    text-decoration: none;
}